main {
    padding: 5%;

}

main .main-content {
    display: flex;
    flex-direction: column;
}

main .main-content h2 {
    margin-bottom: 2%;
    font-size: 2.0em;
    margin-top: 5%;
}

main .main-content .text p {
    max-width: 65ch; 
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.6;
}

/* CARDS ========= */

main .techs .cards-container {
    display: flex;
    align-items: center;
    gap: 1.8em; 
    flex-wrap: wrap; 
}

main .techs .cards-container .card {
    width: 120px;
    height: 120px;
    padding: 10px;
    background-color: #eee;
    border-radius: 8px;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: box-shadow 0.25s ease-in-out;
}

main .techs .cards-container img {
    width: 80%;
}

main .techs .cards-container .card:hover {
    box-shadow: 0px 0px 8px rgb(215, 180, 250);
}

/* FIGURE ========= */

main figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
}

main figure img {
    width: 350px;
    height: 350px;
    border-radius: 50%; 

    margin-bottom: 1%;
    border: 1px rgb(215, 180, 250) solid;
    transition: box-shadow 0.2s ease-in-out; 

    cursor: pointer;
}

main figure img:hover {
    box-shadow: 0px 0px 6px rgb(215, 180, 250);
}

/* PROJECTS ========= */

main .techs .projects-container {
    display: flex;
    flex-direction: column;
}

main .techs .projects-container .projects {
    display: flex;
    align-items: center; 
    justify-content: space-around;
    gap: 15px;
    flex-wrap: wrap; 
}

main .techs .projects-container .projects a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none; 
    color: inherit; 
}

main .techs .projects-container span {
    display: flex;
    align-items: baseline;
    justify-content: center;
    padding: 0.4em 0.6em;
    font-weight: 700;
    border: 2px solid rgba(215, 180, 250);
    border-radius: 8px;
    margin-top: 2em;
}

main .techs .projects-container span:hover {
    background-color: rgba(215, 180, 250);
    color: #222;
    transition: ease-in-out 0.3s;
}

main .techs .projects-container .projects img {
    width: 100%; 
    max-width: 400px; 
    height: auto; 
    aspect-ratio: 1 / 1; 
    object-fit: cover; 
    border-radius: 8px;
}

main .techs .projects-container .projects img:hover {
    box-shadow: 20px 22px 15px #000;
    transition: ease-in-out 0.3s;   
    
}